.header {
    background-color: rgb(48, 57, 80);
    padding: 1%;
    height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.app-logo {
    color: white;
}

.white {
    color: white;
}

.searchBar {
    
    width: 300px;
    
}

.tabs {
    margin: 20px;
}

.dispNone {
    display: none;
}

.dispBlock {
    display: block;
}

.red {
    color: red;
}

.confirm {
    display: flex;
  }

.message {
    margin: 4px 0px 0px 16px
  }  

  .snackbar {
    margin-bottom: 22px;
  }